.main
  .title Services at The Classic Look
  .model= image_tag '/assets/model.png', :alt => 'Hair Model'
  .text
    = render 'services/hair_care'
    = render 'services/nail_care'
    = render 'services/waxing'
    = render 'services/skin_care'
